<%- include("header") -%>
<div class="menu">
  <a class="list-types" href="/"><i class="fas fa-home"></i></a>
  <a class="list-types" href="/worklist"><i class="fas fa-briefcase"></i></a>
  <a class="list-types" href="/wishlist"><i class="fas fa-heart"></i></a>
  <a class="list-types" href="/extras"><i class="fas fa-layer-group"></i></a>
</div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" class="plus-button" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
